---
import atmosferagigantes from '../assets/images/gigantes.png';
import Layout from '../layouts/Layout.astro';
import Libros from '../components/Libros.astro';
import HeroBanner from '../components/HeroBanner.astro';
const librosDestacados = [5, 11, 18, 19, 20, 17];
---
<Layout>
    <main>
        <HeroBanner 
            imageSrc={atmosferagigantes}
            title="Gigantes de la Literatura"
            description="Una colección de obras maestras de la literatura clásica que celebran a los gigantes que marcaron la historia de las letras."
        />

        <!-- Sección de la colección de libros clásicos -->
        <section class="wrapper-contenido section-padding">
            <h2 class="section-title text-text-primary mb-8">Explora la Colección de Literatura Clásica</h2>
            <Libros filter={librosDestacados} modo="grid" />
        </section>
    </main>
</Layout>