---
// src/pages/colecciones/coleccion-misterio.astro
import Layout from '../layouts/Layout.astro';
import HeroBanner from '../components/HeroBanner.astro';
import Libros from '../components/Libros.astro';
import atmosferamisterio from '../assets/images/misterio.png';

const librosDestacados = [2, 7, 8, 9, 10, 11];
---
<Layout>
    <main>
        <HeroBanner 
            imageSrc={atmosferamisterio}
            title="Noches en Vela"
            description="Una selección de thrillers psicológicos y misterios que no podrás dejar de leer."
        />

        <!-- Sección de la colección de libros de misterio -->
        <section class="wrapper-contenido section-padding">
            <h2 class="section-title text-text-primary mb-8 text-center">Explora la Colección de Misterio</h2>
            <Libros filter={librosDestacados} modo="grid" centerLastRow={true} />
        </section>
    </main>
</Layout>