---
interface Props {
    imageSrc: ImageMetadata; // Para imágenes importadas
    title: string;
    description: string;
}

const { imageSrc, title, description } = Astro.props;
---
<section class="banner">
    <div class="banner-div">
        <img src={imageSrc.src} alt={`Fondo para ${title}`} class="banner-img">
    </div>
    
    <div class="banner-content">
        <h1 class="page-title md:text-6xl leading-tight">{title}</h1>
        <p class="p-introduccion md:text-xl mt-4">{description}</p>
    </div>
</section>